@import '../../index.scss';

.testPag {
    width: 80%;
}
.page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;

    width: 80%;
}

.page-numbers li {
    margin: 0 1rem;
    padding: 10px;
    cursor: pointer;
    color: $green;
    display: flex;
    align-items: center;
    line-height: 0;
}

.page-numbers li.active {
    color: $blueLight;
}

// icono flechas librería
.pi {
    font-size: 2em;
    color: $greenLight;
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
}
.pi-angle-right:hover, .pi-angle-left:hover {
    color: $green;
}

.loadmore {
    padding: 1rem;
    background-color: transparent;
    color: red;
    font-size: 2rem;
    border: 1px solid $green;
    cursor: pointer;
}
