@import '../../index.scss';

.page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
}

.page-numbers li {
    margin: 0 1rem;
    padding: 10px;
    border: 1px solid $blueLight;
    cursor: pointer;
}

.page-numbers li.active {
    background-color: $grey;
    color: $green;
}

// icono flechas librería
.pi {
    color: $greenLight;
}
.pi-angle-right:hover, .pi-angle-left:hover {
    color: $green;
}