@import '../../index.scss';

.bg-dark {
    height: 10vh;
    background-color: $green !important;
    color: $blackMain !important;
    & h5 {
        color: $grey;
    }
}
nav {
    margin-bottom: 2rem;
    & h3 {
        color: $grey;
        margin: 0 auto;
        padding-right: 4rem;
        @include tablet {
            padding-right: 10rem;
        }
    }
}